@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --Strong-cyan: hsl(172, 67%, 45%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Light-grayish-cyan);
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
.calculator_box {
    background-color: var(--White);
    border-radius: 12px;
    /* width: 100%; */
    padding: 25px;
    display: flex;
}
.calc_interface {
    width: 50%;
    padding-right: 15px;
}
input {
    font-family: inherit;
    text-align: right;
    width: 100%;
    background-color: var(--Very-light-grayish-cyan);
    border: none;
    padding: 6px;
    border-radius: 8px;
    font-size: 20px;
    color: var(--Very-dark-cyan);
}
input::placeholder {
    color: var(--Very-dark-cyan);
}
input .error {
    border: 2px solid red;

}
label {
    color: var(--Dark-grayish-cyan);
}
.form_input {
    position: relative;
    display: block;
    /* margin-bottom: 10px; */
}
.form_input span {
    position: absolute;
    left: 8px;
    top: 35px;
}
.form_input:nth-of-type(2),
.form_input:nth-of-type(3) {
    margin-top: 20px;
}
.calc_total_display {
    background-color: var(--Very-dark-cyan);
    border-radius: 12px;
    width: 400px;
    /* text-align: center; */
}
.tip_display {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
h2 {
    font-size: 13px;
    color: var(--White);
}
.tip_display span {
    font-size: 12px;
    color: var(--Grayish-cyan);
}
.tip_display p {
    font-size: 30px;
    color: var(--Strong-cyan);
}

.calc_total_display button {
    font-family: inherit;
    cursor: pointer;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    background-color: #26c0ab;
    border: none;
    color: var(--Very-dark-cyan);
    text-transform: uppercase;
    position: relative;
    left: 15px;
    margin-top: 53px;
    opacity: 0.2;
    /* right: 0; */
    /* margin: 0 auto; */
}
.calc_total_display button:hover {
    background-color: var(--Light-grayish-cyan);
    opacity: 1;
}
.tip {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 35px 35px;
    row-gap: 10px;
    /* column-gap: 1px; */
    /* grid-template-rows: 50px 50px 50px; */
    /* grid-row: 3; */
}
.tip button {
    font-family: inherit;
    cursor: pointer;
    background-color: var(--Very-dark-cyan);
    border: none;
    color: var(--White);
    /* padding: 7px; */
    width: 90%;
    border-radius: 5px;
    font-size: 17px;
}
.tip button:hover {
    background-color: var(--Light-grayish-cyan);
    color: var(--Very-dark-cyan);
}
.tip button.active {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}
.tip input {
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: var(--Very-dark-cyan);
    background-color: var(--Very-light-grayish-cyan);
    font-size: 15px;
}
.tip input::placeholder {
    color: var(--Dark-grayish-cyan);
}
.error {
    color: rgb(245, 90, 90);
     /* display: block;
    position: relative;
    top: -67px; */
    
}
/* .error:nth-of-type(2) {
    top: -10px;
} */
.calc_label {
    display: flex;
    justify-content: space-between;
}

input:focus  {
    border: 2px solid var(--Strong-cyan);
    outline: none;
    
}
input:invalid {
    border: 2px solid red;
    outline: none;
}


.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:768px) {
    .calculator_box {
        display: block;
    }
    .calc_interface {
        width: 100%;
    }
    .calc_total_display {
        width: 100%;
    }
}